BasedOnStyle: Google
ColumnLimit: 0
IndentWidth: 2
TabWidth: 2
UseTab: Always
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
